/* Gelb und Beige */

.ral_1000 
/* Grünbeige */
{background-color:#ccc58f;}
.ral_1001
/* Beige */
{background-color:#d1bc8a;}
.ral_1002
/* Sandgelb */
{background-color:#d2b773;}
.ral_1003
/* Signalgelb */
{background-color:#f7ba0b;}
.ral_1004
/* Goldgelb */
{background-color:#e2b007;}
.ral_1005
/* Honiggelb */
{background-color:#c89f04;}
.ral_1006
/* Maisgelb */
{background-color:#e1a100;}
.ral_1007
/* Narzissengelb */
{background-color:#e79c00;}
.ral_1011
/* Braunbeige */
{background-color:#af8a54;}
.ral_1012
/* Zitronengelb */
{background-color:#d9c022;}
.ral_1013
/* Perlweiss */
{background-color:#e9e5ce;}
.ral_1014
/* Elfenbein */
{background-color:#ded09f;}
.ral_1015
/* Hellelfenbein */
{background-color:#eadebd;}
.ral_1016
/* Schwefelgelb */
{background-color:#eaf044;}
.ral_1017
/* Safrangelb */
{background-color:#f4b752;}
.ral_1018
/* Zinkgelb */
{background-color:#f3e03b;}
.ral_1019
/* Graubeige */
{background-color:#a4957d;}
.ral_1020
/* Olivgelb */
{background-color:#9a9464;}
.ral_1021
/* Rapsgelb */
{background-color:#eec900;}
.ral_1023
/* Verkehrsgelb */
{background-color:#f0ca00;}
.ral_1024
Ockergelb */
{background-color:#b89c50;}
.ral_1026
/* Leuchtgelb */
{background-color:#f5ff00;}
.ral_1027
/* Currygelb */
{background-color:#a38c15;}
.ral_1028
/* Melonengelb */
{background-color:#ffab00;}
.ral_1032
/* Ginstergelb */
{background-color:#ddb20f;}
.ral_1033
/* Dahliengelb */
{background-color:#faab21;}
.ral_1034
/* Pastellgelb */
{background-color:#edab56;}
.ral_1035
/* Perlbeige */
{background-color:#a29985;}
.ral_1036
/* Perlgold */
{background-color:#927549;}
.ral_1037
/* Sonnengelb */
{background-color:#eea205;}

/* Orange */

.ral_2000
/* Gelborange */
{background-color:#dd7907;}
.ral_2001
/* Rotorange */
{background-color:#be4e24;}
.ral_2002
/* Blutorange */
{background-color:#c63927;}
.ral_2003
/* Pastellorange */
{background-color:#fa842b;}
.ral_2004
/* Reinorange */
{background-color:#e75b12;}
.ral_2005
/* Leuchtorange */
{background-color:#ff2300;}
.ral_2007
/* Leuchthellorange */
{background-color:#ffa421;}
.ral_2008
/* Hellrotorange */
{background-color:#f3752c;}
.ral_2009
/* Verkehrsorange */
{background-color:#e15501;}
.ral_2010
/* Signalorange */
{background-color:#d4652f;}
.ral_2011
/* Tieforange */
{background-color:#ec7c25;}
.ral_2012
/* Lachsorange */
{background-color:#db6a50;}
.ral_2013
/* Perlorange */
{background-color:#954527;}

/* Rot */

.ral_3000
/* Feuerrot */
{background-color:#ab2524;}
.ral_3001
/* Signalrot */
{background-color:#a02128;}
.ral_3002
/* Karminrot */
{background-color:#a1232b;}
.ral_3003
/* Rubinrot */
{background-color:#8d1d2c;}
.ral_3004
/* Purpurrot */
{background-color:#701f29;}
.ral_3005
/* Weinrot */
{background-color:#5e2028;}
.ral_3007
/* Schwarzrot */
{background-color:#402225;}
.ral_3009
/* Oxidrot */
{background-color:#6d312b;}
.ral_3011
/* Braunrot */
{background-color:#791f24;}
.ral_3012
/* Beigerot */
{background-color:#c68873;}
.ral_3013
/* Tomatenrot */
{background-color:#992a28;}
.ral_3014
{background-color:#cf7278;}
/* Altrosa */
.ral_3015
/* Hellrosa */
{background-color:#e3a0ac;}
.ral_3016
/* Korallenrot */
{background-color:#ab392d;}
.ral_3017
/* Rosa */
{background-color:#cc515e;}
.ral_3018
/* Erdbeerrot */
{background-color:#ca3f51;}
.ral_3020
/* Verkehrsrot */
{background-color:#bf111b;}
.ral_3022
/* Lachsrot */
{background-color:#d36b56;}
.ral_3024
/* Leuchtrot */
{background-color:#fc0a1c;}
.ral_3026
/* Leuchthellrot */
{background-color:#ff4c0f;}
.ral_3027
/* Himbeerrot */
{background-color:#b01d42;}
.ral_3031
/* Orientrot */
{background-color:#a7323e;}
.ral_3032
/* Perlrubinrot */
{background-color:#8a3342;}
.ral_3033
/* Perlrosa */
{background-color:#c74c51;}

/* Violett */

.ral_4001
/* Rotlila */
{background-color:#865d86;}
.ral_4002
/* Rotviolett */
{background-color:#8f3f51;}
.ral_4003
/* Erikaviolett */
{background-color:#ca5b91;}
.ral_4004
/* Bordeauxviolett */
{background-color:#69193b;}
.ral_4005
/* Blaulila */
{background-color:#7e63a1;}
.ral_4006
/* Verkehrspurpur */
{background-color:#912d76;}
.ral_4007
/* Purpurviolett */
{background-color:#48233e;}
.ral_4008
/* Signalviolett */
{background-color:#853d7d;}
.ral_4009
/* Pastellviolett */
{background-color:#9d8493;}
.ral_4010
/* Telemagenta */
{background-color:#c03f7d;}
.ral_4011
/* Perlviolett */
{background-color:#8B76AB;}
.ral_4012
/* Perlbrombeer */
{background-color:#807C9F;}

/* Blau */

.ral_5000
/* Violettblau */
{background-color:#2f4a71;}
.ral_5001
/* Grünblau */
{background-color:#0e4666;}
.ral_5002
/* Ultramarinblau */
{background-color:#162e7b;}
.ral_5003
/* Saphirblau */
{background-color:#193058;}
.ral_5004
/* Schwarzblau */
{background-color:#1a1d2a;}
.ral_5005
/* Signalblau */
{background-color:#004389;}
.ral_5007
/* Brillantblau */
{background-color:#38618c;}
.ral_5008
/* Graublau */
{background-color:#2d3944;}
.ral_5009
/* Azurblau */
{background-color:#245878;}
.ral_5010
/* Enzianblau */
{background-color:#00427f;}
.ral_5011
/* Stahlblau */
{background-color:#1a2740;}
.ral_5012
/* Lichtblau */
{background-color:#2781bb;}
.ral_5013
/* Kobaltblau */
{background-color:#202e53;}
.ral_5014
/* Taubenblau */
{background-color:#667b9a;}
.ral_5015
/* Himmelblau */
{background-color:#0071b5;}
.ral_5017
/* Verkehrsblau */
{background-color:#004c91;}
.ral_5018
/* Türkisblau */
{background-color:#138992;}
.ral_5019
/* Capriblau */
{background-color:#005688;}
.ral_5020
/* Ozeanblau */
{background-color:#2a5059;}
.ral_5021
/* Wasserblau */
{background-color:#00747d;}
.ral_5022
/* Nachtblau */
{background-color:#28275a;}
.ral_5023
/* Fernblau */
{background-color:#486591;}
.ral_5024
/* Pastellblau */
{background-color:#6391b0;}
.ral_5025
/* Perlenzian */
{background-color:#346d8c;}
.ral_5026
/* Perlnachtblau */
{background-color:#243f70;}

/* Grün */

.ral_6000
/* Patinagrün */
{background-color:#327663;}
.ral_6001
/* Smaragdgrün */
{background-color:#266d3b;}
.ral_6002
/* Laubgrün */
{background-color:#276230;}
.ral_6003
/* Olivgrün */
{background-color:#4e553d;}
.ral_6004
/* Blaugrün */
{background-color:#004547;}
.ral_6005
/* Moosgrün */
{background-color:#0e4438;}
.ral_6006
/* Grauoliv */
{background-color:#3b3d33;}
.ral_6007
/* Flaschengrün */
{background-color:#2b3626;}
.ral_6008
/* Braungrün */
{background-color:#302f22;}
.ral_6009
/* Tannengrün */
{background-color:#213529;}
.ral_6010
/* Grasgrün */
{background-color:#426e38;}
.ral_6011
/* Resedagrün */
{background-color:#68825f;}
.ral_6012
/* Schwarzgrün */
{background-color:#293a37;}
.ral_6013
/* Schilfgrün */
{background-color:#76785b;}
.ral_6014
/* Gelboliv */
{background-color:#443f31;}
.ral_6015
/* Schwarzoliv */
{background-color:#383b34;}
.ral_6016
/* Türkisgrün */
{background-color:#00664f;}
.ral_6017
/* Maigrün */
{background-color:#4d8542;}
.ral_6018
/* Gelbgrün */
{background-color:#4b9b3e;}
.ral_6019
/* Weißgrün */
{background-color:#b2d8b4;}
.ral_6020
/* Chromoxidgrün */
{background-color:#394937;}
.ral_6021
/* Blassgrün */
{background-color:#87a180;}
.ral_6022
/* Braunoliv */
{background-color:#3c372a;}
.ral_6024
/* Verkehrsgrün */
{background-color:#008455;}
.ral_6025
/* Farngrün */
{background-color:#56723d;}
.ral_6026
/* Opalgrün */
{background-color:#005c54;}
.ral_6027
/* Lichtgrün */
{background-color:#7dccbd;}
.ral_6028
/* Kieferngrün */
{background-color:#2e554b;}
.ral_6029
/* Minzgrün */
{background-color:#006f43;}
.ral_6032
/* Signalgrün */
{background-color:#00855a;}
.ral_6034
/* Pastelltürkis */
{background-color:#75adb1;}
.ral_6035
/* Perlgrün */
{background-color:#226442;}
.ral_6036
/* Perlopalgrün */
{background-color:#14706C;}

/* Grau */

.ral_7000
/* Fehgrau */
{background-color:#798790;}
.ral_7001
/* Silbergrau */
{background-color:#8c969f;}
.ral_7002
/* Olivgrau */
{background-color:#827d67;}
.ral_7003
/* Moosgrau */
{background-color:#79796c;}
.ral_7004
/* Signalgrau */
{background-color:#999a9f;}
.ral_7005
/* Mausgrau */
{background-color:#6d7270;}
.ral_7006
/* Beigegrau */
{background-color:#766a5d;}
.ral_7008
/* Khakigrau */
{background-color:#756444;}
.ral_7009
/* Grüngrau */
{background-color:#585e55;}
.ral_7010
/* Zeltgrau */
{background-color:#565957;}
.ral_7011
/* Eisengrau */
{background-color:#525a60;}
.ral_7012
/* Basaltgrau */
{background-color:#575e62;}
.ral_7013
/* Braungrau */
{background-color:#585346;}
.ral_7015
/* Schiefergrau */
{background-color:#4c5057;}
.ral_7016
/* Anthrazitgrau */
{background-color:#363d43;}
.ral_7021
/* Schwarzgrau */
{background-color:#2e3236;}
.ral_7022
/* Umbragrau */
{background-color:#464644;}
.ral_7023
/* Betongrau */
{background-color:#7f8279;}
.ral_7024
/* Graphitgrau */
{background-color:#484b52;}
.ral_7026
/* Granitgrau */
{background-color:#354044;}
.ral_7030
/* Steingrau */
{background-color:#919089;}
.ral_7031
/* Blaugrau */
{background-color:#5b686f;}
.ral_7032
/* Kieselgrau */
{background-color:#b5b5a7;}
.ral_7033
/* Zementgrau */
{background-color:#7a8376;}
.ral_7034
/* Gelbgrau */
{background-color:#928d75;}
.ral_7035
/* Lichtgrau */
{background-color:#c4caca;}
.ral_7036
/* Platingrau */
{background-color:#949294;}
.ral_7037
/* Staubgrau */
{background-color:#7e8082;}
.ral_7038
/* Achatgrau */
{background-color:#b0b3af;}
.ral_7039
/* Quarzgrau */
{background-color:#6d6b64;}
.ral_7040
/* Fenstergrau */
{background-color:#9aa0a7;}
.ral_7042
/* Verkehrsgrau A */
{background-color:#929899;}
.ral_7043
/* Verkehrsgrau B */
{background-color:#505455;}
.ral_7044
/* Seidengrau */
{background-color:#bab9b0;}
.ral_7045
/* Telegrau 1 */
{background-color:#92989b;}
.ral_7046
/* Telegrau 2 */
{background-color:#838b8f;}
.ral_7047
/* Telegrau 4 */
{background-color:#c9cac9;}
.ral_7048
/* Perlmausgrau */
{background-color:#969590;}

/* Braun */

.ral_8000
/* Grünbraun */
{background-color:#8b7045;}
.ral_8001
/* Ockerbraun */
{background-color:#9c6935;}
.ral_8002
/* Signalbraun */
{background-color:#774c3b;}
.ral_8003
/* Lehmbraun */
{background-color:#815333;}
.ral_8004
/* Kupferbraun */
{background-color:#904e3b;}
.ral_8007
/* Rehbraun */
{background-color:#6b442a;}
.ral_8008
/* Olivbraun */
{background-color:#735230;}
.ral_8011
/* Nussbraun */
{background-color:#5b3927;}
.ral_8012
/* Rotbraun */
{background-color:#64312a;}
.ral_8014
/* Sepiabraun */
{background-color:#49372a;}
.ral_8015
/* Kastanienbraun */
{background-color:#5a2e2a;}
.ral_8016
/* Mahagonibraun */
{background-color:#4f3128;}
.ral_8017
/* Schokoladenbraun */
{background-color:#45302b;}
.ral_8019
/* Graubraun */
{background-color:#3b3332;}
.ral_8022
/* Schwarzbraun */
{background-color:#1e1a1a;}
.ral_8023
/* Orangebraun */
{background-color:#a45c32;}
.ral_8024
/* Beigebraun */
{background-color:#7b5741;}
.ral_8025
/* Blassbraun */
{background-color:#765d4d;}
.ral_8028
/* Terrabraun */
{background-color:#4f3b2b;}
.ral_8029
/* Perlkupfer */
{background-color:#8C4C41;}

/* Weiß und Schwarz */

.ral_9001
/* Cremeweiß */
{background-color:#eee9da;}
.ral_9002
/* Grauweiß */
{background-color:#dadbd5;}
.ral_9003
/* Signalweiß */
{background-color:#f8f9fb;}
.ral_9004
/* Signalschwarz */
{background-color:#252427;}
.ral_9005
/* Tiefschwarz */
{background-color:#151619;}
.ral_9006
/* Weißaluminium */
{background-color:#A3A8AC;}
.ral_9007
/* Graualuminium */
{background-color:#8F9190;}
.ral_9010
/* Reinweiß */
{background-color:#f4f4ed;}
.ral_9011
/* Graphit- schwarz */
{background-color:#1f2126;}
.ral_9016
/* Verkehrsweiß */
{background-color:#f3f6f6;}
.ral_9017
/* Verkehrsschwarz */
{background-color:#1b191d;}
.ral_9018
/* Papyrusweiß */
{background-color:#cbd2d0;}
.ral_9022
/* Perlhellgrau */
{background-color:#A3A8AC;}
.ral_9023
/* Perldunkelgrau  */
{background-color:#8E959F;}

/* gestrichene Farben */

.ral_4000
/* Violett */
{background-color:#60007f;}
.ral_6031
/* Bronzegrün */
{background-color:#485746;}
.ral_7027
/* Grau */
{background-color:#7b765e;}
.ral_7028
/* Dunkelgelb */
{background-color:#645e46;}
